:root {
    --color-black-100:#242325;
    --color-silver-100:#939393;
    --color-silver-50:#cdcdcd;
    --color-silver-20:#ffffff;
    --color-blue-50:#1a5874; 
}

/* FONTES inicio*/
.titulo {
    font-family: 'Roboto Condensed', sans-serif;
}

.conteudo h2, h4{
    font-family: 'Roboto Condensed', sans-serif;
}

.conteudo .data{
    color: var(--color-blue-50);
}
.conteudo h4{
    color: var(--color-blue-50);
}
/* FONTES fim */

/* MENU inicio */
.menu {
    background-color: var(--color-blue-50);
}

.links a {
    text-decoration: none;
    color: var(--color-silver-100);
   
}
/* MENU fim */

/* IMAGENS */
.projects-img img {
    width: 100%;
}

/* ANIMAÇÃO inicio */
.transitionSize {
    transition: transform 0.5s;
}

.transitionSize:hover {
    transform: scale(1.3);
    color: var(--color-silver-20);
}
/* ANIMAÇÃO fim */

.link-visualizar {
    color: #1a5874;
    font-family: 'Roboto Condensed', sans-serif;
}

.visualizar {
    color: #1a5874;
    font-family: 'Roboto Condensed', sans-serif;
}

.menu {
    width: 100px;
}

/* MOBILE NAV inicio */
@media (min-width: 768px) {
    .nav-mobile{
        display: none;   
    }
}

@media (max-width: 768px) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu{
        width: 10px;
    }
    .menu .links a {
        display: none;
    }
    .menu img {
        display: none;
    }

    .menu {
        width: 1px;
        background-color: white;
    }

    #social-images {
        display: flex;
        align-items: center;
        flex-direction: row;
        
    }

    #social-images img {
        width: 60px
    };
    
}


.nav-mobile-1 {
    background-color: var(--color-blue-50);
}

.nav-mobile-1 h5 {
    color: var(--color-silver-100);
   
}
/* MOBILE NAV fim */