:root {
    --color-black-100:#242325;
    --color-silver-100:#939393;
    --color-silver-50:#cdcdcd;
    --color-silver-20:#ffffff;
    --color-blue-50:#1a5874; 
}

.menu {
    background-color: var(--color-blue-50);
}

.titulo .farias{
    color: var(--color-blue-50); 
}

.sub-titulo .sub1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--color-silver-100);
}

.sub-titulo .sub2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--color-blue-50);
}

.conteudo .titulo-conteudo {
    font-family: 'Roboto Condensed', sans-serif;
}

.conteudo .paragrafo {
    color: black;
    /* color: var(--color-silver-100); */
    
}


#social-images img {
    width: 80px;
    padding: 10px;
}

.links a {
    text-decoration: none;
    color: var(--color-silver-100);
   
}

.transitionSize {
    transition: transform 0.5s;
}

.transitionSize:hover {
    transform: scale(1.3);
    color: var(--color-silver-20);
}

/* MOBILE NAV inicio */
@media (min-width: 768px) {
    .nav-mobile{
        display: none;   
    }
}

@media (max-width: 768px) {
    .menu{
        display: none !important;
    }
    .menu .links a {
        display: none;
    }
    .menu img {
        display: none;
    }

    .menu {
        width: 1px;
        background-color: white;
    }

    #social-images {
        display: flex;
        align-items: center;
        flex-direction: row;
        
    }

    #social-images img {
        width: 60px
    };
    
}


.nav-mobile-1 {
    background-color: var(--color-blue-50);
}

.nav-mobile-1 h5 {
    color: var(--color-silver-100);
   
}
/* MOBILE NAV fim */

@media (max-width: 768px) {
.leandro {
    margin-top: 50px;
}
}
